---
name: Add new issues to projects

on:
  issues:
    types: [opened]
jobs:
  main:
    runs-on: ubuntu-latest
    steps:

    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up node16
      uses: actions/setup-node@v2
      with:
        node-version: 16

    - name: Add issue to repo project
      uses: ./
      with:
        project: test4repo
        column: To do

    - name: Add issue to user project
      uses: ./
      with:
        home: users/cb80
        project: test4user
        column: To do
        token: ${{ secrets.PROJECT_TOKEN }}
